@import "tailwindcss";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
